<div class="task-list">
  <div class="filter-container">
    <label for="statusFilter">Filter: </label>
    <select
      id="statusFilter"
      [(ngModel)]="filter$"
      (change)="setFilter($event.target.value)"
    >
      <option value="all">all</option>
      <option value="incomplete">incomplete</option>
      <option value="complete">complete</option>
    </select>
  </div>
  <app-input-item (taskAdded)="addTask($event)"></app-input-item>

  <div class="list-container">
    <app-list-item
      *ngFor="let task of filteredTasks$ | async"
      [task]="task"
      (taskUpdated)="updateTask($event)"
      (taskDeleted)="deleteTask($event)"
    >
    </app-list-item>
  </div>
  <button (click)="clearCompletedTasks()">clear completed tasks</button>
  <button (click)="clearCachedTasks()">clear cached tasks</button>
</div>
